.auth-base{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://source.unsplash.com/random');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}
